::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}


#starcontainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes testing {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes testing2 {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(128, 128, 128, 0.399);
  }
  50% {
    background-color: rgba(128, 128, 128, 0.613);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
.sparkle1 {
  content: "";
  background: white;
  position: absolute;
  animation-name: testing;
  animation-duration: 4s;
  width: 10px;
  height: 12px;
  clip-path: polygon(
    50% 0%,
    60% 40%,
    100% 50%,
    60% 60%,
    50% 100%,
    40% 60%,
    0% 50%,
    40% 40%
  );
}

.blur1 {
  content: "";
  background: rgba(128, 128, 128, 0.504);
  position: absolute;
  animation-name: testing2;
  animation-duration: 4s;
  width: 10px;
  height: 12px;
  filter: blur(10px);
}
